.place-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.places{
    border-right: 1px solid lightgrey;
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}
.cart{
    margin:10px;
    background-color: lightslategray;
    height: 300px;
}
.cart-item{
    font-size: 25px;
    color: white;
}